.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-container {
  min-height: 100vh;
  display:flex; justify-content: center;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225 {
  width: 716px;
  height: 926px;
  display: flex;
  overflow: hidden;
  position: relative;
  display: flex; justify-content: center;
  max-width: 428px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-image: linear-gradient(180deg, rgba(213, 166, 217, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text {
  top: 383px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  width: 147px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  box-shadow: 0px 8.308412551879883px 8.308412551879883px 0px rgba(0, 0, 0, 0.379) ;
  font-style: normal;
  text-align: left;
  font-family: Dancing Script;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text01 {
  top: 448px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 163px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text02 {
  top: 477px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  width: 194px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text06 {
  top: 536px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  width: 254px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text07 {
  top: 572px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  box-shadow: 0px 8.308412551879883px 8.308412551879883px 0px rgba(0, 0, 0, 0.25) ;
  font-style: normal;
  text-align: left;
  font-family: Dancing Script;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text08 {
  top: 640px;
  left: 17px;
  color: rgba(0, 0, 0, 1);
  width: 228px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text09 {
  top: 673px;
  left: 18px;
  color: rgba(0, 0, 0, 1);
  width: 276px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text13 {
  top: 726px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 232px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text14 {
  top: 5px;
  left: 445px;
  color: rgba(255, 255, 255, 1);
  width: 462px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  box-shadow: 0px 8.308412551879883px 8.308412551879883px 0px rgba(0, 0, 0, 0.25) ;
  font-style: normal;
  text-align: center;
  font-family: Kaushan Script;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text15 {
  top: 69px;
  left: 16px;
  color: rgba(255, 255, 255, 1);
  width: 148px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  box-shadow: 0px 8.308412551879883px 8.308412551879883px 0px rgba(0, 0, 0, 0.386) ;
  font-style: normal;
  text-align: left;
  font-family: Dancing Script;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text16 {
  top: 127px;
  left: 12px;
  color: rgba(0, 0, 0, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text17 {
  top: 160px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text18 {
  top: 194px;
  left: 14px;
  color: rgba(0, 0, 0, 1);
  width: 169px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text19 {
  top: 228px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  width: 191px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text20 {
  top: 264px;
  left: 13px;
  color: rgba(0, 0, 0, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text21 {
  top: 302px;
  left: 22px;
  color: rgba(0, 0, 0, 1);
  width: 144px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text22 {
  top: 335px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  width: 213px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text23 {
  left: 21px;
  color: rgba(0, 0, 0, 1);
  width: 116px;
  bottom: 99px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text24 {
  left: 21px;
  color: rgba(0, 0, 0, 1);
  width: 228px;
  bottom: 62px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text25 {
  top: 102px;
  color: rgba(0, 0, 0, 1);
  right: 17px;
  width: 70px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-image {
  top: 14px;
  left: 10px;
  width: 38px;
  height: 38px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text26 {
  top: 572px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  box-shadow: 0px 8.308412551879883px 8.308412551879883px 0px rgba(0, 0, 0, 0.098) ;
  font-style: normal;
  text-align: left;
  font-family: Dancing Script;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text27 {
  top: 572px;
  left: 8px;
  color: rgba(10, 2, 2, 0.571);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  box-shadow: 0px 8.308412551879883px 8.308412551879883px 0px rgba(0, 0, 0, 0.065) ;
  font-style: normal;
  text-align: left;
  font-family: Dancing Script;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text28 {
  left: 11px;
  color: rgba(0, 0, 0, 0.459);
  width: 242px;
  bottom: 131px;
  height: auto;
  position: absolute;
  font-size: 32px;
  align-self: auto;
  box-shadow: 0px 8.308412551879883px 8.308412551879883px 0px rgba(0, 0, 0, 0.378) ;
  font-style: normal;
  text-align: left;
  font-family: Dancing Script;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text29 {
  top: 127px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text30 {
  top: 155px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text31 {
  top: 190px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text32 {
  top: 228px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text33 {
  top: 263px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text34 {
  top: 300px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text35 {
  top: 335px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text36 {
  top: 446px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text37 {
  top: 490px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text38 {
  top: 535px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text39 {
  top: 635px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text40 {
  top: 675px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text41 {
  top: 725px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text42 {
  top: 805px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text43 {
  top: 840px;
  left: 342px;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: IM FELL French Canon;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 479px) {
  .s-e-r-v-i-c-i-o-s-y-p-r-e-c-i-o-s10225-text25 {
    top: 103px;
    right: 43px;
  }
}
